@(currentUser: Option[domain.entity.User])

<div id="menu">
  <div class="pure-menu">
    <a href="@routes.HomeController.index" class="pure-menu-heading"></a>
    <ul class="pure-menu-list">
      @currentUser.map { user =>
        <li class="pure-menu-item">
          <a href="@routes.UsersController.show(user.id.value)" class="pure-menu-link">
            @user.screenName
          </a>
        </li>
      }.getOrElse {
        <li class="pure-menu-item">
          <a href="@routes.SessionController.login" class="pure-menu-link">Log in</a>
        </li>
      }
      <li class="pure-menu-item menu-item-separator"></li>
      @currentUser.map { user =>
        <li class="pure-menu-item">
          <a href="@routes.SessionController.logout" class="pure-menu-link">
            Log out
          </a>
        </li>
      }.getOrElse {
        <li class="pure-menu-item">
          <a href="@routes.UsersController.signup" class="pure-menu-link">
            Sign up
          </a>
        </li>
      }
    </ul>
  </div>
</div>
